button {
    text-transform: uppercase;
    padding: 1.6rem 2.4rem;
    border: none;
    color: #fff;
    cursor: pointer;
    opacity: .9;
    flex: 1; /*Ocupa o maximo de espaço possivel no flex */
}

#calc-btn {
    background-color: rgb(74, 30, 116);
}

#clear-btn {
    background-color: #444;
}

#back-btn {
    background-color: rgb(250, 38, 38);
    align-self: center;
}

button:hover {
    opacity: 1;
}