#calc-container h2 {
    text-align: center;
    margin-bottom: 3.2rem;
}

#form-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#form-control {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 1.6rem;
}

#form-control label {
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: .9rem;
    color: #CCC;
}

#form-control input { 
    padding: 1.6rem .5rem;
}

#action-control {
    display: flex;
    justify-content: space-between;
    gap: 1.6rem;
    margin-top: 3.2rem;
}